Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

check-license-headers:
  name: Check license headers
  entry: scripts/check-license.sh
  language: script

check-generate:
  name: Check generated code is up to date
  entry: make
  args:
  - check-diff
  language: system
  pass_filenames: false

crossplane-lint:
  name: Crossplane specific linting
  entry: scripts/crossplane-lint.sh
  language: script

fix: neutralize img.release.publish plain-image push on release (#81)
  Makefile
Due: none

fix: remove fragile branch guard from publish.artifacts (match docker)
  Makefile
Due: none

fix: remove fragile branch guard from publish.artifacts (match docker) (#82)
  Makefile
Due: none

chore: normalize workflows to 2026-09-08 templates + publishing overrides
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
Due: none

fix: align security.yml to current template (Go 1.27.1 + AGPL-3.0)
  .github/workflows/security.yml
Due: none

fix: correct branch protection API endpoints from plural to singular
  internal/clients/gitea.go
  internal/clients/gitea_test.go
Due: check-license-headers

fix: correct branch protection API endpoints from plural to singular (#84)
  internal/clients/gitea.go
  internal/clients/gitea_test.go
Due: check-license-headers

chore: normalize CI/release workflows + xpkg publishing overrides (#83)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Makefile
Due: none

Revert "fix: correct branch protection API endpoints from plural to singular (#84)"
  internal/clients/gitea.go
  internal/clients/gitea_test.go
Due: check-license-headers

fix: use branch_name field in CreateBranchProtectionRequest
  internal/clients/gitea.go
Due: check-license-headers

fix(ci): remove nonexistent make docker.build from build-validation
  .github/workflows/ci.yml
Due: none

fix(ci): remove nonexistent make docker.build from build-validation (#85)
  .github/workflows/ci.yml
Due: none

chore(deps): bump Crossplane APIs fork
  go.mod
  go.sum
Due: none

chore(deps): bump Crossplane APIs fork (#86)
  go.mod
  go.sum
Due: none

chore: standardize release workflow and prepare for v0.15.9
  .github/workflows/release.yml
  CHANGELOG.md
  INSTALLATION_GUIDE.md
  Makefile
  README.md
  VERSION
  cluster/images/provider-gitea/Makefile
  deploy/helm/provider-gitea/Chart.yaml
  deploy/helm/provider-gitea/README.md
  deploy/helm/provider-gitea/values.yaml
  deploy/kubectl/40-provider.yaml
  deploy/kubectl/kustomization.yaml
  deploy/upbound/README.md
  deployments/docs/deployment-guide.md
  deployments/helm/gitea-provider/Chart.yaml
  deployments/helm/gitea-provider/values.yaml
  docs/development.md
  docs/getting-started.md
  docs/upbound-registry.md
  examples/install.yaml
  internal/version/version.go
  package/crossplane.yaml
  scripts/release.sh
Due: check-license-headers

chore: apply standardized release workflow template
  .github/workflows/release.yml
Due: none

chore: apply standardized release workflow template (#87)
  .github/workflows/release.yml
Due: none

chore: bump crossplane-runtime fork to v2.5.1 for ExternalLister
  go.mod
  go.sum
Due: none

feat: implement ExternalLister for Repository discovery
  internal/clients/gitea.go
  internal/clients/repository.go
  internal/controller/repository/repository.go
  internal/controller/repository/repository_test.go
  internal/controller/testutil/noop.go
  test/mock/client.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement ExternalLister for Organization and User discovery
  internal/clients/gitea.go
  internal/clients/organization.go
  internal/clients/user.go
  internal/controller/organization/organization.go
  internal/controller/organization/organization_test.go
  internal/controller/testutil/noop.go
  internal/controller/user/user.go
  internal/controller/user/user_test.go
  test/mock/client.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement ExternalLister for Team discovery
  internal/controller/team/team.go
  internal/controller/team/team_test.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement ExternalLister for 8 repo-scoped resources
  internal/clients/gitea.go
  internal/clients/lists.go
  internal/controller/branchprotection/branchprotection.go
  internal/controller/branchprotection/branchprotection_test.go
  internal/controller/deploykey/deploykey.go
  internal/controller/deploykey/deploykey_test.go
  internal/controller/issue/issue.go
  internal/controller/issue/issue_test.go
  internal/controller/label/label.go
  internal/controller/label/label_test.go
  internal/controller/pullrequest/pullrequest.go
  internal/controller/pullrequest/pullrequest_test.go
  internal/controller/release/release.go
  internal/controller/release/release_test.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/repositorycollaborator/repositorycollaborator_test.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/repositorysecret/repositorysecret_test.go
  internal/controller/testutil/discovery.go
  internal/controller/testutil/noop.go
  internal/discovery/discovery.go
  test/mock/client.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement ExternalLister for action, githook, webhook, deploytoken, repositorykey, runner
  internal/clients/gitea.go
  internal/clients/lists.go
  internal/controller/action/action.go
  internal/controller/action/action_test.go
  internal/controller/deploytoken/deploytoken.go
  internal/controller/deploytoken/deploytoken_test.go
  internal/controller/githook/githook.go
  internal/controller/githook/githook_test.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorykey/repositorykey_test.go
  internal/controller/runner/runner.go
  internal/controller/testutil/noop.go
  internal/controller/webhook/webhook.go
  internal/controller/webhook/webhook_test.go
  internal/discovery/discovery.go
  test/mock/client.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement ExternalLister for org/user-scoped resources
  internal/clients/gitea.go
  internal/clients/lists.go
  internal/controller/accesstoken/accesstoken.go
  internal/controller/accesstoken/accesstoken_test.go
  internal/controller/adminuser/adminuser.go
  internal/controller/adminuser/adminuser_test.go
  internal/controller/organizationmember/organizationmember.go
  internal/controller/organizationmember/organizationmember_test.go
  internal/controller/organizationsecret/organizationsecret.go
  internal/controller/organizationsecret/organizationsecret_test.go
  internal/controller/organizationsettings/organizationsettings.go
  internal/controller/organizationsettings/organizationsettings_test.go
  internal/controller/testutil/discovery.go
  internal/controller/testutil/noop.go
  internal/controller/userkey/userkey.go
  internal/controller/userkey/userkey_test.go
  internal/discovery/discovery.go
  test/mock/client.go
Due: check-license-headers, check-generate, crossplane-lint

Path conditions:
  check-license-headers: any of: \.go$, but not: zz_generated\..*\.go$
  check-generate: any of: (apis/.*\.go|internal/controller/.*\.go)$, but not: zz_generated\..*\.go$|.*_test\.go$
  crossplane-lint: any of: (apis/.*\.go|internal/controller/.*\.go)$, but not: zz_generated\..*\.go$|.*_test\.go$
