Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

.pre-commit-config.yaml:

# Pre-commit hooks for provider-gitea
# Install with: pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: 'zz_generated\..*\.go$'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-yaml
        exclude: '^(cluster/|examples/)'
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go formatting and imports
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: go-unit-tests
        args: ["-timeout=10m", "./internal/clients/..."]
      - id: go-build
        exclude: '^test/'
      - id: go-vet

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '.*_test\.go$|go\.sum$|.*\.md$'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        files: 'Dockerfile.*'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(yaml|yml)$'
        exclude: '^(cluster/|package/crds/|zz_generated\.)'

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  # License headers
  - repo: local
    hooks:
      - id: check-license-headers
        name: Check license headers
        entry: scripts/check-license.sh
        language: script
        files: '\.go$'
        exclude: 'zz_generated\..*\.go$'

  # Custom hooks for Crossplane
  - repo: local
    hooks:
      - id: check-generate
        name: Check generated code is up to date
        entry: make
        args: ['check-diff']
        language: system
        pass_filenames: false
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

      - id: crossplane-lint
        name: Crossplane specific linting
        entry: scripts/crossplane-lint.sh
        language: script
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

docs: add controller implementation guide and planning
  CONTROLLER_IMPLEMENTATION_GUIDE.md
  internal/controller/controller.go
Due: check-license-headers, check-generate, crossplane-lint

investigation: v2.3.2 Managed interface implementation solution
  V2_3_2_INVESTIGATION.md
  apis/repository/v2/types.go
  internal/tools/generate_interface_methods.sh
Due: check-license-headers, check-generate, crossplane-lint

feat: add resource.Managed interface methods to all 22 resource types
  apis/accesstoken/v2/types.go
  apis/action/v2/types.go
  apis/adminuser/v2/types.go
  apis/branchprotection/v2/types.go
  apis/deploykey/v2/types.go
  apis/githook/v2/types.go
  apis/issue/v2/types.go
  apis/label/v2/types.go
  apis/organization/v2/types.go
  apis/organizationmember/v2/types.go
  apis/organizationsecret/v2/types.go
  apis/organizationsettings/v2/types.go
  apis/pullrequest/v2/types.go
  apis/release/v2/types.go
  apis/repositorycollaborator/v2/types.go
  apis/repositorykey/v2/types.go
  apis/repositorysecret/v2/types.go
  apis/runner/v2/types.go
  apis/team/v2/types.go
  apis/user/v2/types.go
  apis/userkey/v2/types.go
  apis/webhook/v2/types.go
  internal/tools/add_interface_methods.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement Repository controller (Phase 1 foundation)
  internal/controller/controller.go
  internal/controller/repository/repository.go
Due: check-license-headers, check-generate, crossplane-lint

feat: add tools and foundation for controller implementation
  internal/tools/generate_controllers.go
Due: check-license-headers

feat: implement Organization and Team controllers
  internal/controller/organization/organization.go
  internal/controller/team/team.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement User controller
  internal/controller/user/user.go
Due: check-license-headers, check-generate, crossplane-lint

docs: update implementation guide with progress tracking
  IMPLEMENTATION_GUIDE.md
Due: none

feat: implement Webhook and Label controllers
  internal/controller/label/label.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

docs: update guide with progress to 27.3% and quick path to completion
  IMPLEMENTATION_GUIDE.md
Due: none

feat: implement AccessToken controller
  internal/controller/accesstoken/accesstoken.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement AdminUser and DeployKey controllers
  internal/controller/adminuser/adminuser.go
  internal/controller/deploykey/deploykey.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement BranchProtection controller
  internal/controller/branchprotection/branchprotection.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement RepositorySecret controller
  internal/controller/repositorysecret/repositorysecret.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement RepositoryCollaborator, UserKey, OrganizationSecret, and OrganizationMember controllers
  internal/controller/organizationmember/organizationmember.go
  internal/controller/organizationsecret/organizationsecret.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/userkey/userkey.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement RepositoryKey and OrganizationSettings controllers
  internal/controller/organizationsettings/organizationsettings.go
  internal/controller/repositorykey/repositorykey.go
Due: check-license-headers, check-generate, crossplane-lint

fix: install crossplane-cli for xpkg build
  .github/workflows/release.yml
Due: none

fix: init build submodule before installing tools
  .github/workflows/release.yml
Due: none

fix: manually install crossplane-cli for xpkg build
  .github/workflows/release.yml
Due: none

fix: use underscore in platform path
  .github/workflows/release.yml
Due: none

fix: use v2.3.2 crossplane CLI
  .github/workflows/release.yml
Due: none

chore: use rossigee/build with v2.3.2 crossplane CLI
  .gitmodules
Due: none

fix: use simpler release workflow pattern
  .github/workflows/release.yml
Due: none

fix: add vendor step before code generation
  .github/workflows/release.yml
Due: none

e2e: drive a real Gitea (Helm) instead of a mock; fix the bugs it exposed
  docs/TESTING.md
  examples/e2e/accesstoken.yaml
  examples/e2e/accesstoken.yaml.disabled
  examples/e2e/action.yaml
  examples/e2e/action.yaml.disabled
  examples/e2e/branchprotection.yaml
  examples/e2e/deploykey.yaml
  examples/e2e/githook.yaml
  examples/e2e/issue.yaml
  examples/e2e/label.yaml
  examples/e2e/organization.yaml
  examples/e2e/organizationmember.yaml
  examples/e2e/organizationmember.yaml.disabled
  examples/e2e/organizationsecret.yaml
  examples/e2e/organizationsettings.yaml
  examples/e2e/pullrequest.yaml
  examples/e2e/pullrequest.yaml.disabled
  examples/e2e/release.yaml
  examples/e2e/repository.yaml
  examples/e2e/repositorycollaborator.yaml
  examples/e2e/repositorykey.yaml
  examples/e2e/repositorysecret.yaml
  examples/e2e/runner.yaml
  examples/e2e/runner.yaml.disabled
  examples/e2e/team.yaml
  examples/e2e/user.yaml
  examples/e2e/userkey.yaml
  examples/e2e/webhook.yaml
  internal/clients/gitea.go
  internal/clients/gitea_test.go
  internal/controller/adminuser/adminuser.go
  internal/controller/organizationsettings/organizationsettings.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/repositorycollaborator/repositorycollaborator_test.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/repositorysecret/repositorysecret_test.go
  scripts/e2e.sh
  test/e2e/mock-gitea.yaml
  test/e2e/uptest-setup.sh
Due: check-license-headers, check-generate, crossplane-lint

ci: don't let dependency-review block the fork; rename e2e workflow
  .github/workflows/e2e.yml
  .github/workflows/security.yml
Due: none

ci: add `make validate` — the pre-push static gate that mirrors CI
  Makefile
  scripts/validate.sh
Due: none

fix(accesstoken): Observe via token list, not the nonexistent single-GET
  internal/clients/gitea.go
Due: check-license-headers

feat: support management policies across all 14 controllers
  CHANGELOG.md
  README.md
  cmd/provider/main.go
  internal/controller/accesstoken/accesstoken.go
  internal/controller/branchprotection/branchprotection.go
  internal/controller/githook/githook.go
  internal/controller/label/label.go
  internal/controller/organization/organization.go
  internal/controller/organizationsecret/organizationsecret.go
  internal/controller/organizationsettings/organizationsettings.go
  internal/controller/repository/repository.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/team/team.go
  internal/controller/user/user.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

chore: stamp v0.9.0 release in CHANGELOG
  CHANGELOG.md
Due: none

Add Variable MR + org-scope for Label
  CHANGELOG.md
  VERSION
  apis/apis.go
  apis/label/v2/types.go
  apis/variable/v2/groupversion_info.go
  apis/variable/v2/types.go
  apis/variable/v2/variable_managed.go
  apis/variable/v2/zz_generated.deepcopy.go
  examples/label/basic-labels.yaml
  examples/variable/basic-variables.yaml
  internal/clients/gitea.go
  internal/controller/controller.go
  internal/controller/label/label.go
  internal/controller/label/label_test.go
  internal/controller/variable/variable.go
  internal/controller/variable/variable_test.go
  package/crds/variable.gitea.m.crossplane.io_variables.yaml
  test/mock/client.go
Due: check-license-headers, check-generate, crossplane-lint

User: rotate Forgejo password on passwordSecretRef change (v0.11.0)
  CHANGELOG.md
  VERSION
  apis/user/v2/types.go
  apis/user/v2/zz_generated.deepcopy.go
  internal/clients/gitea.go
  internal/controller/user/user.go
  internal/controller/user/user_test.go
  package/crds/user.gitea.m.crossplane.io_users.yaml
Due: check-license-headers, check-generate, crossplane-lint

CI: stage provider binary into bin/ before runtime image build
  Makefile
Due: none
