Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

check-license-headers:
  name: Check license headers
  entry: scripts/check-license.sh
  language: script

check-generate:
  name: Check generated code is up to date
  entry: make
  args:
  - check-diff
  language: system
  pass_filenames: false

crossplane-lint:
  name: Crossplane specific linting
  entry: scripts/crossplane-lint.sh
  language: script

e2e: add Variable + org-scoped Label examples (cover v0.10.0 additions)
  examples/e2e/label-org.yaml
  examples/e2e/variable.yaml
Due: none

fix(crds): correct CRD metadata.name to match unified spec.group
  package/crds/accesstoken.gitea.m.crossplane.io_accesstokens.yaml
  package/crds/branchprotection.gitea.m.crossplane.io_branchprotections.yaml
  package/crds/githook.gitea.m.crossplane.io_githooks.yaml
  package/crds/label.gitea.m.crossplane.io_labels.yaml
  package/crds/organization.gitea.m.crossplane.io_organizations.yaml
  package/crds/organizationsecret.gitea.m.crossplane.io_organizationsecrets.yaml
  package/crds/organizationsettings.gitea.m.crossplane.io_organizationsettings.yaml
  package/crds/repository.gitea.m.crossplane.io_repositories.yaml
  package/crds/repositorycollaborator.gitea.m.crossplane.io_repositorycollaborators.yaml
  package/crds/repositorykey.gitea.m.crossplane.io_repositorykeys.yaml
  package/crds/repositorysecret.gitea.m.crossplane.io_repositorysecrets.yaml
  package/crds/team.gitea.m.crossplane.io_teams.yaml
  package/crds/user.gitea.m.crossplane.io_users.yaml
  package/crds/variable.gitea.m.crossplane.io_variables.yaml
  package/crds/webhook.gitea.m.crossplane.io_webhooks.yaml
Due: none

fix(e2e): fix kubectl wait resource types + CRD-Established guard
  test/e2e/uptest-setup.sh
Due: none

fix(e2e): idempotent token creation (delete before re-minting)
  test/e2e/uptest-setup.sh
Due: none

fix(crds): resolve shortName conflicts (orga×2, repo×3)
  package/crds/organizationsecret.gitea.m.crossplane.io_organizationsecrets.yaml
  package/crds/repositorycollaborator.gitea.m.crossplane.io_repositorycollaborators.yaml
  package/crds/repositorykey.gitea.m.crossplane.io_repositorykeys.yaml
  package/crds/repositorysecret.gitea.m.crossplane.io_repositorysecrets.yaml
Due: none

fix(apis): fix shortName annotations to match CRD fix (osec/rcol/rkey/rsec)
  apis/organizationsecret/v1beta1/types.go
  apis/repositorycollaborator/v1beta1/types.go
  apis/repositorykey/v1beta1/types.go
  apis/repositorysecret/v1beta1/types.go
Due: check-license-headers, check-generate, crossplane-lint

chore: regenerate deepcopy (import alias cleanup by controller-gen)
  apis/accesstoken/v1beta1/zz_generated.deepcopy.go
  apis/branchprotection/v1beta1/zz_generated.deepcopy.go
  apis/githook/v1beta1/zz_generated.deepcopy.go
  apis/label/v1beta1/zz_generated.deepcopy.go
  apis/organization/v1beta1/zz_generated.deepcopy.go
  apis/organizationsecret/v1beta1/zz_generated.deepcopy.go
  apis/organizationsettings/v1beta1/zz_generated.deepcopy.go
  apis/repository/v1beta1/zz_generated.deepcopy.go
  apis/repositorycollaborator/v1beta1/zz_generated.deepcopy.go
  apis/repositorykey/v1beta1/zz_generated.deepcopy.go
  apis/repositorysecret/v1beta1/zz_generated.deepcopy.go
  apis/team/v1beta1/zz_generated.deepcopy.go
  apis/user/v1beta1/zz_generated.deepcopy.go
  apis/variable/v1beta1/zz_generated.deepcopy.go
  apis/webhook/v1beta1/zz_generated.deepcopy.go
Due: none

Port crossplane-provider-template best-practice gaps
  apis/v1beta1/providerconfig_usagemethods.go
  cmd/provider/main.go
  internal/controller/accesstoken/accesstoken.go
  internal/controller/branchprotection/branchprotection.go
  internal/controller/githook/githook.go
  internal/controller/label/label.go
  internal/controller/organization/organization.go
  internal/controller/organizationsecret/organizationsecret.go
  internal/controller/organizationsettings/organizationsettings.go
  internal/controller/repository/repository.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/team/team.go
  internal/controller/user/user.go
  internal/controller/variable/variable.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

Fix lint and staticcheck failures
  apis/v1beta1/providerconfig_usagemethods.go
  internal/controller/repository/repository.go
  internal/controller/user/user.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

fix(apis): remove stale +versionName=v2 marker from all v1beta1 packages
  apis/accesstoken/v1beta1/groupversion_info.go
  apis/branchprotection/v1beta1/groupversion_info.go
  apis/githook/v1beta1/groupversion_info.go
  apis/label/v1beta1/groupversion_info.go
  apis/organization/v1beta1/groupversion_info.go
  apis/organizationsecret/v1beta1/groupversion_info.go
  apis/organizationsettings/v1beta1/groupversion_info.go
  apis/repository/v1beta1/groupversion_info.go
  apis/repositorycollaborator/v1beta1/groupversion_info.go
  apis/repositorykey/v1beta1/groupversion_info.go
  apis/repositorysecret/v1beta1/groupversion_info.go
  apis/team/v1beta1/groupversion_info.go
  apis/user/v1beta1/groupversion_info.go
  apis/variable/v1beta1/groupversion_info.go
  apis/webhook/v1beta1/groupversion_info.go
Due: check-license-headers, check-generate, crossplane-lint

fix(e2e): regenerate CRDs before building xpkg
  scripts/e2e.sh
Due: none

fix(release): use committed CRDs instead of regenerating at release time
  .github/workflows/release.yml
  scripts/e2e.sh
Due: none

chore: add .claude agents/commands and CLAUDE.md
  .claude/agents/implement-docs.md
  .claude/agents/implement-managed-resource.md
  .claude/agents/implement-tests.md
  .claude/agents/scaffold-provider.md
  .claude/commands/add-managed-resource.md
  .claude/commands/release.md
  .claude/commands/scaffold-crossplane-provider.md
  .claude/commands/unit-tests.md
  CLAUDE.md
Due: none

release: v0.12.1
  CHANGELOG.md
  VERSION
Due: none

fix(user): always send login_name and source_id on PATCH
  internal/controller/user/user.go
Due: check-license-headers, check-generate, crossplane-lint

fix(accesstoken): capture token value from sha1 on create (#4)
  CHANGELOG.md
  VERSION
  internal/controller/accesstoken/accesstoken.go
  internal/controller/accesstoken/accesstoken_test.go
Due: check-license-headers, check-generate, crossplane-lint

fix(user): MustChangePassword/Restricted were plain bool, dropping false (#5)
  CHANGELOG.md
  internal/clients/gitea.go
  internal/controller/user/user.go
  internal/controller/user/user_test.go
Due: check-license-headers, check-generate, crossplane-lint

Upgrade to Crossplane v2.3.3 and add repository controller tests
  Makefile
  go.mod
  go.sum
  internal/controller/repository/repository_test.go
  package/crossplane.yaml
Due: check-license-headers

ci: Standardize release workflow to build and publish xpkg packages
  .github/workflows/release.yml
Due: none

ci: Fix multi-platform build issue in release workflow
  .github/workflows/release.yml
Due: none

ci: Fix publish target - use unified make publish
  .github/workflows/release.yml
Due: none

ci: Use docker/build-push-action for Docker image, make for xpkg
  .github/workflows/release.yml
Due: none

docs: Add package.yaml as compatibility shim for Crossplane v2 package discovery
  package/package.yaml
Due: none

fix: Use package.yaml for Crossplane v2 package metadata
  package/crossplane.yaml
Due: none

ci: Add xpkg publishing validation and diagnostics
  Makefile
Due: none

ci: Fix release workflow to use unified make publish pattern
  .github/workflows/release.yml
Due: none

feat: Add kubectl deployment manifests (Phase 1 of 3)
  deploy/kubectl/00-namespace.yaml
  deploy/kubectl/10-serviceaccount.yaml
  deploy/kubectl/20-clusterrole.yaml
  deploy/kubectl/30-clusterrolebinding.yaml
  deploy/kubectl/40-provider.yaml
  deploy/kubectl/50-providerconfig.yaml
  deploy/kubectl/README.md
  deploy/kubectl/examples/organization.yaml
  deploy/kubectl/examples/repository.yaml
  deploy/kubectl/examples/user.yaml
  deploy/kubectl/kustomization.yaml
Due: none

feat: Add Helm chart for provider-gitea (Phase 2 of 3)
  deploy/helm/provider-gitea/Chart.yaml
  deploy/helm/provider-gitea/README.md
  deploy/helm/provider-gitea/templates/clusterrole.yaml
  deploy/helm/provider-gitea/templates/clusterrolebinding.yaml
  deploy/helm/provider-gitea/templates/namespace.yaml
  deploy/helm/provider-gitea/templates/provider.yaml
  deploy/helm/provider-gitea/templates/providerconfig.yaml
  deploy/helm/provider-gitea/templates/serviceaccount.yaml
  deploy/helm/provider-gitea/values.yaml
Due: none

feat: Add Upbound up CLI documentation (Phase 3 of 3)
  deploy/upbound/README.md
Due: none

docs: Add comprehensive installation guide for all three methods
  INSTALLATION_GUIDE.md
Due: none

fix: Add missing Docker image build step in release workflow
  .github/workflows/release.yml
Due: none

fix: Use docker/build-push-action for Docker image build
  .github/workflows/release.yml
Due: none

fix: Correct Docker image build context path
  .github/workflows/release.yml
Due: none

fix: Simplify release workflow to use make build + publish targets
  .github/workflows/release.yml
Due: none

fix: Remove separate Docker image push, rely on xpkg push
  .github/workflows/release.yml
Due: none

fix: Build and publish both linux_amd64 and linux_arm64
  .github/workflows/release.yml
Due: none

docs: Add Crossplane v2.4.x upgrade plan and readiness documentation
  CROSSPLANE_V24_UPGRADE_PLAN.md
Due: none

Path conditions:
  check-license-headers: any of: \.go$, but not: zz_generated\..*\.go$
  check-generate: any of: (apis/.*\.go|internal/controller/.*\.go)$, but not: zz_generated\..*\.go$|.*_test\.go$
  crossplane-lint: any of: (apis/.*\.go|internal/controller/.*\.go)$, but not: zz_generated\..*\.go$|.*_test\.go$
