Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

.pre-commit-config.yaml:

# Pre-commit hooks for provider-gitea
# Install with: pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: 'zz_generated\..*\.go$'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-yaml
        exclude: '^(cluster/|examples/)'
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go formatting and imports
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: go-unit-tests
        args: ["-timeout=10m", "./internal/clients/..."]
      - id: go-build
        exclude: '^test/'
      - id: go-vet

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '.*_test\.go$|go\.sum$|.*\.md$'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        files: 'Dockerfile.*'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(yaml|yml)$'
        exclude: '^(cluster/|package/crds/|zz_generated\.)'

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  # License headers
  - repo: local
    hooks:
      - id: check-license-headers
        name: Check license headers
        entry: scripts/check-license.sh
        language: script
        files: '\.go$'
        exclude: 'zz_generated\..*\.go$'

  # Custom hooks for Crossplane
  - repo: local
    hooks:
      - id: check-generate
        name: Check generated code is up to date
        entry: make
        args: ['check-diff']
        language: system
        pass_filenames: false
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

      - id: crossplane-lint
        name: Crossplane specific linting
        entry: scripts/crossplane-lint.sh
        language: script
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

feat: add OpenTelemetry OTLP tracing support
  cmd/provider/main.go
  go.mod
  go.sum
  internal/tracing/tracing.go
Due: check-license-headers

Add OTLP tracing support
  cmd/provider/main.go
  go.mod
  go.sum
  internal/controller/repository/repository.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/tracing/tracing.go
Due: check-license-headers, check-generate, crossplane-lint

build: update build submodule to rossigee-lint-fixes - Adds govulncheck to reviewable target - Adds go mod vendor step before go generate - Ensures clean go generate runs with consistent vendor state
  .gitmodules
Due: none

Add Dependabot dependency management with severity-based auto-merge
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
Due: none

build: fix nil tracer panic in tests, add tracing.ResourceName helper
  internal/controller/repository/repository.go
  internal/controller/repositorykey/repositorykey.go
  internal/tracing/tracing.go
Due: check-license-headers, check-generate, crossplane-lint

build: fix govulncheck to handle unfixable vulns and prevent go.mod changes
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

build: fix GOWORK to be a file path for govulncheck
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

cluster/images/provider-gitea: fix Dockerfile COPY path (bin/ not _output/bin/)
  cluster/images/provider-gitea/Dockerfile
Due: none

cluster/images/provider-gitea: revert to _output/bin/ (build context is provider root, same as hostinger)
  cluster/images/provider-gitea/Dockerfile
Due: none

build: update VERSION to v0.8.2
  VERSION
Due: none

feat: add TeamMembership and TeamRepository managed resources
  CHANGELOG.md
  CLAUDE.md
  README.md
  apis/apis.go
  apis/teammembership/v1beta1/groupversion_info.go
  apis/teammembership/v1beta1/teammembership_managed.go
  apis/teammembership/v1beta1/types.go
  apis/teammembership/v1beta1/zz_generated.deepcopy.go
  apis/teamrepository/v1beta1/groupversion_info.go
  apis/teamrepository/v1beta1/teamrepository_managed.go
  apis/teamrepository/v1beta1/types.go
  apis/teamrepository/v1beta1/zz_generated.deepcopy.go
  examples/e2e/teammembership.yaml
  examples/e2e/teamrepository.yaml
  examples/teammembership/basic-membership.yaml
  examples/teamrepository/basic-attachment.yaml
  internal/clients/gitea.go
  internal/clients/teamassociation.go
  internal/clients/teamassociation_test.go
  internal/controller/controller.go
  internal/controller/teammembership/teammembership.go
  internal/controller/teammembership/teammembership_test.go
  internal/controller/teamrepository/teamrepository.go
  internal/controller/teamrepository/teamrepository_test.go
  package/crds/teammembership.gitea.m.crossplane.io_teammemberships.yaml
  package/crds/teamrepository.gitea.m.crossplane.io_teamrepositories.yaml
Due: check-license-headers, check-generate, crossplane-lint

ci: use HTTPS for build submodule (fix release workflow)
  .gitmodules
Due: none

ci: upgrade GitHub Actions to latest major versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

build: bump Go toolchain to 1.26.5
  .github/workflows/security.yml
  go.mod
Due: none

build: update Go dependencies
  go.mod
  go.sum
Due: none

fix: add core Kubernetes scheme registration for Crossplane v2 compatibility
  apis/accesstoken/v2/groupversion_info.go
  apis/action/v2/groupversion_info.go
  apis/adminuser/v2/groupversion_info.go
  apis/branchprotection/v2/groupversion_info.go
  apis/deploykey/v2/groupversion_info.go
  apis/githook/v2/groupversion_info.go
  apis/issue/v2/groupversion_info.go
  apis/label/v2/groupversion_info.go
  apis/organization/v2/groupversion_info.go
  apis/organizationmember/v2/groupversion_info.go
  apis/organizationsecret/v2/groupversion_info.go
  apis/organizationsettings/v2/groupversion_info.go
  apis/pullrequest/v2/groupversion_info.go
  apis/release/v2/groupversion_info.go
  apis/repository/v2/groupversion_info.go
  apis/repositorycollaborator/v2/groupversion_info.go
  apis/repositorykey/v2/groupversion_info.go
  apis/repositorysecret/v2/groupversion_info.go
  apis/runner/v2/groupversion_info.go
  apis/team/v2/groupversion_info.go
  apis/user/v2/groupversion_info.go
  apis/userkey/v2/groupversion_info.go
  apis/v1alpha1/groupversion_info.go
  apis/v1beta1/groupversion_info.go
  apis/webhook/v2/groupversion_info.go
  cmd/provider/main.go
  go.mod
  go.sum
  internal/controller/controller.go
  internal/controller/providerconfig/providerconfig.go
Due: check-license-headers, check-generate, crossplane-lint

Add webhook controller
  VERSION
  internal/controller/controller.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

webhook: return ExternalNameAssigned=true in Create()
  internal/controller/repository/repository.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

build: bump version to v0.8.20
  VERSION
Due: none

webhook: remove non-existent ExternalNameAssigned field
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

webhook: set Available condition when webhook is observed
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

fix(repository): treat invalid external-id format as resource-not-exists in Observe
  internal/controller/repository/repository.go
  internal/controller/repository/repository_test.go
Due: check-license-headers, check-generate, crossplane-lint

build: release v0.9.0 - bump versions, update changelog, rename CLAUDE.md to AGENTS.md
  AGENTS.md
  CHANGELOG.md
  README.md
  deployments/helm/gitea-provider/Chart.yaml
  deployments/helm/gitea-provider/values.yaml
Due: none

chore: run go mod tidy (moves go-logr/logr to direct dep)
  go.mod
Due: none

feat: add Organization controller
  VERSION
  internal/clients/gitea.go
  internal/controller/controller.go
  internal/controller/organization/organization.go
  internal/controller/organization/organization_test.go
Due: check-license-headers, check-generate, crossplane-lint

fix: set Available condition in Repository Observe
  VERSION
  internal/controller/repository/repository.go
Due: check-license-headers, check-generate, crossplane-lint

Release v0.10.2: add User controller, improve drift detection, graceful delete
  CHANGELOG.md
  VERSION
  internal/clients/gitea.go
  internal/controller/controller.go
  internal/controller/organization/organization.go
  internal/controller/organization/organization_test.go
  internal/controller/repository/repository.go
  internal/controller/repository/repository_test.go
  internal/controller/testutil/noop.go
  internal/controller/user/user.go
  internal/controller/user/user_test.go
Due: check-license-headers, check-generate, crossplane-lint

Fix Ready=False for Repository CRs
  VERSION
  internal/controller/repository/repository.go
Due: check-license-headers, check-generate, crossplane-lint

fix: wire RepositoryKey and RepositorySecret controllers
  README.md
  cluster/images/provider-gitea/Dockerfile
  internal/controller/controller.go
Due: check-license-headers, check-generate, crossplane-lint
