Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

check-license-headers:
  name: Check license headers
  entry: scripts/check-license.sh
  language: script

check-generate:
  name: Check generated code is up to date
  entry: make
  args:
  - check-diff
  language: system
  pass_filenames: false

crossplane-lint:
  name: Crossplane specific linting
  entry: scripts/crossplane-lint.sh
  language: script

fix: resolve CI/CD build failures
  .github/workflows/security.yml
  apis/apis.go
  cmd/test-client/main.go
  go.mod
  internal/clients/gitea.go
  internal/clients/gitea_test.go
  internal/controller/accesstoken/accesstoken.go
  internal/controller/action/action.go
  internal/controller/action/action_test.go
  internal/controller/adminuser/adminuser.go
  internal/controller/adminuser/adminuser_test.go
  internal/controller/branchprotection/branchprotection.go
  internal/controller/controller.go
  internal/controller/deploykey/deploykey.go
  internal/controller/githook/githook.go
  internal/controller/label/label.go
  internal/controller/organization/organization.go
  internal/controller/organizationmember/organizationmember.go
  internal/controller/organizationsecret/organizationsecret.go
  internal/controller/organizationsecret/organizationsecret_test.go
  internal/controller/organizationsettings/organizationsettings.go
  internal/controller/repository/repository.go
  internal/controller/repository/repository_test.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/runner/runner.go
  internal/controller/runner/runner_test.go
  internal/controller/team/team.go
  internal/controller/user/user.go
  internal/controller/userkey/userkey.go
  internal/controller/webhook/webhook.go
  test/e2e/complete_workflow_test.go
  test/e2e/suite_test.go
  test/integration/examples_test.go
  test/integration/organizationsecret_test.go
  test/integration/provider_test.go
  test/integration/security_test.go
  test/integration/suite_test.go
Due: check-license-headers, check-generate, crossplane-lint

add: VERSION file matching latest tag v0.4.0
  VERSION
Due: none

fix: Add build tools installation step to CI/CD workflow
  .github/workflows/ci.yml
Due: none

fix: Update deprecated GitHub Actions artifacts to v4
  .github/workflows/ci.yml
Due: none

chore: Bump version to v0.5.1 for CI/CD pipeline validation
  VERSION
Due: none

fix: Add build tools installation to Release workflow
  .github/workflows/release.yml
Due: none

chore: Bump to v0.5.2 - Complete CI/CD pipeline with all workflow fixes
  VERSION
Due: none

Mark provider-gitea v1 as deprecated in favor of kubebuilder v2
  .gitmodules
  DEPRECATED.md
Due: none

chore: bump version to v0.5.4
  .github/workflows/ci.yml
  VERSION
Due: none

feat: add v2 API with namespaced support for Repository
  VERSION
  apis/apis.go
  apis/repository/v2/groupversion_info.go
  apis/repository/v2/types.go
  apis/repository/v2/zz_generated.deepcopy.go
  apis/repository/v2/zz_generated.managed.go
  apis/repository/v2/zz_generated.managedlist.go
  internal/controller/controller.go
  internal/controller/repository/v2/repository.go
  package/crds/repository.gitea.crossplane.io_repositories.yaml
Due: check-license-headers, check-generate, crossplane-lint

docs: update documentation and workflows for v0.6.0 release
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  README.md
  internal/controller/repository/v2/repository.go
  package/crossplane.yaml
Due: check-license-headers, check-generate, crossplane-lint

feat: remove Runner resource to fix provider startup
  VERSION
  apis/apis.go
  internal/controller/controller.go
Due: check-license-headers, check-generate, crossplane-lint

fix: bump to v0.6.2 to trigger clean CI build
  VERSION
Due: none

build: add generated version information
  internal/version/version.go
Due: check-license-headers

fix: complete v2 API supporting types and registration
  apis/adminuser/v2/types.go
  apis/apis.go
  apis/branchprotection/v2/types.go
  apis/organizationmember/v2/types.go
  apis/organizationsecret/v2/types.go
  apis/organizationsettings/v2/types.go
  apis/release/v2/types.go
  apis/release/v2/zz_generated.deepcopy.go
  apis/repositorycollaborator/v2/types.go
  apis/runner/v2/types.go
  fix-missing-types.sh
  fix-v2-supporting-types.sh
Due: check-license-headers, check-generate, crossplane-lint

docs: add comprehensive v2 API examples and documentation
  examples/v2/README.md
  examples/v2/complete-enterprise-setup.yaml
  examples/v2/migration-guide.yaml
  examples/v2/multi-tenant-setup.yaml
  examples/v2/organization-namespaced.yaml
  examples/v2/repository-namespaced.yaml
Due: none

cleanup: finalize v2-only provider framework
  .golangci.yml.disabled
  CLAUDE.md
  README.md
  internal/controller/testing/README.md
  internal/controller/testing/parameters.go
  test/benchmark/performance_test.go
  test/cmd/generate_tests.go
  test/e2e/complete_workflow_test.go
  test/e2e/suite_test.go
  test/framework/controller_test_framework.go
  test/framework/test_generator.go
  test/integration/examples_test.go
  test/integration/organizationsecret_test.go
  test/integration/provider_test.go
  test/integration/security_test.go
  test/integration/suite_test.go
Due: check-license-headers, check-generate, crossplane-lint

docs: update README.md to accurately reflect v2-only framework status
  README.md
Due: none

fix: correct release workflow to use 'make publish' instead of invalid 'docker-build'
  .github/workflows/release.yml
Due: none

docs: update controller comments for clarity
  internal/controller/controller.go
Due: check-license-headers, check-generate, crossplane-lint

Bump Alpine image to latest version.
  cluster/images/provider-gitea/Dockerfile
Due: none

Standardize CI/CD workflows for Crossplane providers
  .github/backup/ci.yml
  .github/backup/pr-validation.yml
  .github/backup/release.yml
  .github/backup/security.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

Update VERSION to v0.7.0 to match latest tag
  VERSION
Due: none

Update release workflow to build artifacts before publishing
  .github/workflows/release.yml
Due: none

Bump version to v0.8.0
  VERSION
Due: none

Update Crossplane runtime version to v2.0.0
  Makefile
Due: none

Update to Crossplane v2.0.2 and sync build submodule
  Makefile
Due: none

Remove redundant build.artifacts step from release workflow
  .github/workflows/release.yml
Due: none

Fix CI workflow to use correct build targets
  .github/workflows/ci.yml
Due: none

Path conditions:
  check-license-headers: any of: \.go$, but not: zz_generated\..*\.go$
  check-generate: any of: (apis/.*\.go|internal/controller/.*\.go)$, but not: zz_generated\..*\.go$|.*_test\.go$
  crossplane-lint: any of: (apis/.*\.go|internal/controller/.*\.go)$, but not: zz_generated\..*\.go$|.*_test\.go$
