Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

.pre-commit-config.yaml:

# Pre-commit hooks for provider-gitea
# Install with: pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: 'zz_generated\..*\.go$'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-yaml
        exclude: '^(cluster/|examples/)'
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go formatting and imports
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: go-unit-tests
        args: ["-timeout=10m", "./internal/clients/..."]
      - id: go-build
        exclude: '^test/'
      - id: go-vet

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '.*_test\.go$|go\.sum$|.*\.md$'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        files: 'Dockerfile.*'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(yaml|yml)$'
        exclude: '^(cluster/|package/crds/|zz_generated\.)'

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  # License headers
  - repo: local
    hooks:
      - id: check-license-headers
        name: Check license headers
        entry: scripts/check-license.sh
        language: script
        files: '\.go$'
        exclude: 'zz_generated\..*\.go$'

  # Custom hooks for Crossplane
  - repo: local
    hooks:
      - id: check-generate
        name: Check generated code is up to date
        entry: make
        args: ['check-diff']
        language: system
        pass_filenames: false
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

      - id: crossplane-lint
        name: Crossplane specific linting
        entry: scripts/crossplane-lint.sh
        language: script
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

chore: upgrade crossplane runtime to v2.4.0-rc.0
  go.mod
Due: none

fix: remove invalid uniqueItems marker from Runner.labels and AccessToken.scopes
  apis/accesstoken/v2/types.go
  apis/runner/v2/types.go
  package/crds/accesstoken.gitea.crossplane.io_accesstokens.yaml
  package/crds/accesstoken.gitea.m.crossplane.io_accesstokens.yaml
  package/crds/runner.gitea.crossplane.io_runners.yaml
  package/crds/runner.gitea.m.crossplane.io_runners.yaml
Due: check-license-headers, check-generate, crossplane-lint

fix: correct REGISTRY_ORGS to ghcr.io/rossigee for image publish
  Makefile
Due: none

fix: add #nosec G402 for config-gated InsecureSkipVerify (match vault)
  internal/clients/gitea.go
Due: check-license-headers

chore: pin crossplane-runtime and crossplane/apis to rossigee fork branches
  go.mod
  go.sum
Due: none

ci: add auto-merge workflow for dependabot PRs (minor/patch + actions/docker)
  .github/workflows/auto-merge.yml
Due: none

docs: document native implementation without Terraform dependencies
  README.md
Due: none

fix(release): ensure GitHub release title includes version (add tag_name, fix version output)
  .github/workflows/release.yml
Due: none

ci: manually install crossplane-cli instead of relying on build.init
  .github/workflows/release.yml
Due: none

ci: upgrade to crossplane-cli v2.3.5
  .github/workflows/release.yml
Due: none

ci: use correct crossplane-cli download URL from releases.crossplane.io
  .github/workflows/release.yml
Due: none

chore: bump to v0.10.32
  VERSION
Due: none

fix(lint): address golangci-lint findings
  cmd/provider/main.go
  internal/controller/branchprotection/branchprotection.go
Due: check-license-headers, check-generate, crossplane-lint

feat(metrics): wire statemetrics MRStateMetrics for Ready/Synced counts
  cmd/provider/main.go
Due: check-license-headers

chore: bump Go to 1.27.0, golangci-lint to 2.13.1, go get -u && go mod tidy
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
  go.mod
  go.sum
Due: none

fix: resolve lint and test failures after Go 1.27 toolchain bump
  internal/tracing/tracing.go
Due: check-license-headers

fix: vendor code generation tools for CI
  go.mod
  go.sum
  hack/tools.go
Due: check-license-headers

fix(ci): bump deprecated actions, remove non-existent docker.build
  .github/workflows/ci.yml
Due: none

chore(workflows): upgrade GitHub actions to latest Node.js 24+ compatible versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

chore: upgrade Go to 1.27.1 and golangci-lint to v2.13.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  Makefile
  go.mod
Due: none

chore: bump crossplane-runtime to v2.5.0
  go.mod
Due: none

chore: update go.sum for crossplane-runtime v2.5.0
  go.sum
Due: none

chore: standardize pre-commit to v6.0.0 / Go 1.27.1 tooling
  .pre-commit-config.yaml
Due: none

chore: standardize pre-commit to v6.0.0 / Go 1.27.1 tooling
  .pre-commit-config.yaml
  .yamllint.yaml
Due: none

feat: add ManagementPolicies support (Observe)
  cmd/provider/main.go
  internal/controller/branchprotection/branchprotection.go
  internal/controller/organization/organization.go
  internal/controller/repository/repository.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/user/user.go
  internal/controller/webhook/webhook.go
  internal/features/features.go
Due: check-license-headers, check-generate, crossplane-lint

fix: gofmt formatting
  cmd/provider/main.go
Due: check-license-headers

fix: regenerate CRDs with controller-gen v0.22.0
  package/crds/accesstoken.gitea.m.crossplane.io_accesstokens.yaml
  package/crds/action.gitea.m.crossplane.io_actions.yaml
  package/crds/adminuser.gitea.m.crossplane.io_adminusers.yaml
  package/crds/branchprotection.gitea.m.crossplane.io_branchprotections.yaml
  package/crds/deploykey.gitea.m.crossplane.io_deploykeys.yaml
  package/crds/gitea.crossplane.io_providerconfigs.yaml
  package/crds/gitea.crossplane.io_providerconfigusages.yaml
  package/crds/githook.gitea.m.crossplane.io_githooks.yaml
  package/crds/issue.gitea.m.crossplane.io_issues.yaml
  package/crds/label.gitea.m.crossplane.io_labels.yaml
  package/crds/organization.gitea.m.crossplane.io_organizations.yaml
  package/crds/organizationmember.gitea.m.crossplane.io_organizationmembers.yaml
  package/crds/organizationsecret.gitea.m.crossplane.io_organizationsecrets.yaml
  package/crds/organizationsettings.gitea.m.crossplane.io_organizationsettings.yaml
  package/crds/pullrequest.gitea.m.crossplane.io_pullrequests.yaml
  package/crds/release.gitea.m.crossplane.io_releases.yaml
  package/crds/repository.gitea.m.crossplane.io_repositories.yaml
  package/crds/repositorycollaborator.gitea.m.crossplane.io_repositorycollaborators.yaml
  package/crds/repositorykey.gitea.m.crossplane.io_repositorykeys.yaml
  package/crds/repositorysecret.gitea.m.crossplane.io_repositorysecrets.yaml
  package/crds/runner.gitea.m.crossplane.io_runners.yaml
  package/crds/team.gitea.m.crossplane.io_teams.yaml
  package/crds/user.gitea.m.crossplane.io_users.yaml
  package/crds/userkey.gitea.m.crossplane.io_userkeys.yaml
  package/crds/webhook.gitea.m.crossplane.io_webhooks.yaml
Due: none

fix: clean two-job release workflow with v2.5.0 go install from fork
  .github/workflows/release.yml
Due: none

chore: unify skip-duplicate-actions at floating v5
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: add Crossplane CLI v2.5.0 curl install to release workflow
  .github/workflows/release.yml
  Makefile
Due: none

Remove build-and-push.sh - use standard make publish
  build-and-push.sh
Due: none

Migrate to Crossplane v2 namespaced APIs
  docs/RESOURCES.md
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  docs/index.md
  docs/resources.md
  docs/resources/accesstoken.md
  docs/resources/action.md
  docs/resources/adminuser.md
  docs/resources/branchprotection.md
  docs/resources/githook.md
  docs/resources/issue.md
  docs/resources/label.md
  docs/resources/organization.md
  docs/resources/organizationmember.md
  docs/resources/organizationsecret.md
  docs/resources/organizationsettings.md
  docs/resources/pullrequest.md
  docs/resources/release.md
  docs/resources/repository.md
  docs/resources/repositorycollaborator.md
  docs/resources/repositorykey.md
  docs/resources/repositorysecret.md
  docs/resources/runner.md
  docs/resources/team.md
  docs/resources/user.md
  docs/resources/userkey.md
  docs/resources/webhook.md
  docs/testing.md
  docs/upbound-registry.md
Due: none

Migrate to Crossplane v2 .m. API group
  apis/v1beta1/groupversion_info.go
Due: check-license-headers, check-generate, crossplane-lint
