Repository rossigee/provider-gitea: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-generate, crossplane-lint

.pre-commit-config.yaml:

# Pre-commit hooks for provider-gitea
# Install with: pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: 'zz_generated\..*\.go$'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-yaml
        exclude: '^(cluster/|examples/)'
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go formatting and imports
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: go-unit-tests
        args: ["-timeout=10m", "./internal/clients/..."]
      - id: go-build
        exclude: '^test/'
      - id: go-vet

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '.*_test\.go$|go\.sum$|.*\.md$'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        files: 'Dockerfile.*'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(yaml|yml)$'
        exclude: '^(cluster/|package/crds/|zz_generated\.)'

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  # License headers
  - repo: local
    hooks:
      - id: check-license-headers
        name: Check license headers
        entry: scripts/check-license.sh
        language: script
        files: '\.go$'
        exclude: 'zz_generated\..*\.go$'

  # Custom hooks for Crossplane
  - repo: local
    hooks:
      - id: check-generate
        name: Check generated code is up to date
        entry: make
        args: ['check-diff']
        language: system
        pass_filenames: false
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

      - id: crossplane-lint
        name: Crossplane specific linting
        entry: scripts/crossplane-lint.sh
        language: script
        files: '(apis/.*\.go|internal/controller/.*\.go)$'
        exclude: 'zz_generated\..*\.go$|.*_test\.go$'

Add placeholder test files for CI compatibility
  test/benchmark/benchmark_test.go
  test/e2e/e2e_test.go
  test/integration/integration_test.go
Due: check-license-headers

Fix CI workflow issues for comprehensive testing
  .github/workflows/ci.yml
Due: none

Add benchmark-results.txt to .gitignore
  .gitignore
Due: none

Fix image push. Update golang 1.25.3.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitmodules
  Makefile
  go.mod
Due: none

Update dependencies and release workflow
  .github/workflows/release.yml
  Makefile
  go.mod
  go.sum
Due: none

Fix dependencies and kingpin import
  cmd/provider/main.go
  go.mod
  go.sum
Due: check-license-headers

Prepare v0.8.2 release
  CHANGELOG.md
  CLAUDE.md
  README.md
  VERSION
Due: none

Fix CI/CD: Update build submodule to rossigee/build fix-crossplane-cli-dep branch
  .gitmodules
Due: none

Fix CI/CD: Correct Docker build target in CI workflow
  .github/workflows/ci.yml
Due: none

Implement custom release workflow to avoid submodule unshallow issues
  .github/workflows/release.yml
Due: none

Revert "Implement custom release workflow to avoid submodule unshallow issues"
  .github/workflows/release.yml
Due: none

Reapply "Implement custom release workflow to avoid submodule unshallow issues"
  .github/workflows/release.yml
Due: none

Revert "Reapply "Implement custom release workflow to avoid submodule unshallow issues""
  .github/workflows/release.yml
Due: none

Fix provider-workflows integration: Use upstream crossplane/build
  .gitmodules
Due: none

Fix release workflow CI/CD: update REGISTRY_ORGS to 'rossigee' and add 'publish' target alias
  Makefile
Due: none

Upgrade Go 1.26.3, crossplane-runtime v2.4.0-rc.0
  go.mod
  go.sum
  internal/controller/controller.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement 8 core v2 controllers for provider-gitea Phase 1
  internal/controller/controller.go
  internal/controller/deploykey/deploykey.go
  internal/controller/label/label.go
  internal/controller/organization/organization.go
  internal/controller/repository/repository.go
  internal/controller/repositorycollaborator/repositorycollaborator.go
  internal/controller/team/team.go
  internal/controller/user/user.go
  internal/controller/webhook/webhook.go
Due: check-license-headers, check-generate, crossplane-lint

feat: implement 7 enterprise security v2 controllers for provider-gitea Phase 2
  internal/controller/accesstoken/accesstoken.go
  internal/controller/branchprotection/branchprotection.go
  internal/controller/controller.go
  internal/controller/organizationmember/organizationmember.go
  internal/controller/organizationsecret/organizationsecret.go
  internal/controller/repositorykey/repositorykey.go
  internal/controller/repositorysecret/repositorysecret.go
  internal/controller/userkey/userkey.go
Due: check-license-headers, check-generate, crossplane-lint

test: add unit tests for 8 Phase 1 controllers
  internal/controller/deploykey/deploykey_test.go
  internal/controller/label/label_test.go
  internal/controller/organization/organization_test.go
  internal/controller/repository/repository_test.go
  internal/controller/repositorycollaborator/repositorycollaborator_test.go
  internal/controller/team/team_test.go
  internal/controller/user/user_test.go
  internal/controller/webhook/webhook_test.go
Due: check-license-headers

test: enhance mock infrastructure and create repository test template
  internal/controller/repository/repository_test.go
  internal/controller/testing/external.go
Due: check-license-headers, check-generate, crossplane-lint

test: apply test template to remaining 7 Phase 1 controllers
  internal/controller/deploykey/deploykey_test.go
  internal/controller/label/label_test.go
  internal/controller/organization/organization_test.go
  internal/controller/repositorycollaborator/repositorycollaborator_test.go
  internal/controller/team/team_test.go
  internal/controller/user/user_test.go
  internal/controller/webhook/webhook_test.go
Due: check-license-headers

Sync with parent repo changes
  AGENTS.ms
  Makefile
  README.md
  go.mod
  internal/controller/accesstoken/accesstoken_test.go
  internal/controller/branchprotection/branchprotection_test.go
  internal/controller/organizationmember/organizationmember_test.go
  internal/controller/organizationsecret/organizationsecret_test.go
  internal/controller/repositorykey/repositorykey_test.go
  internal/controller/repositorysecret/repositorysecret_test.go
  internal/controller/userkey/userkey_test.go
Due: check-license-headers

chore: Update CI/CD tools to latest stable versions
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security.yml
Due: none

fix: correct corrupted GitHub action versions
  .github/workflows/ci.yml
Due: none

fix: Add explicit GitHub token to checkout steps for submodule access
  .github/workflows/ci.yml
Due: none

fix: resolve Go version and submodule issues
  .github/backup/ci.yml
  .github/backup/release.yml
  scripts/check.sh
  scripts/introspect.sh
  scripts/release.sh
Due: none

deps: update Go 1.26.4 and patch vulnerability dependencies
  go.mod
  go.sum
Due: none

deps: upgrade crossplane-runtime to v2.3.2
  go.mod
  go.sum
Due: none

chore: update workflows - standardize Go 1.26.4, github.token auth, ubuntu-24.04, merge codeql to security
  .github/backup/ci.yml
  .github/backup/pr-validation.yml
  .github/backup/release.yml
  .github/backup/security.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

chore: standardize release workflow to unified publish pattern
  .github/workflows/release.yml
Due: none

fix: update crossplane v2 import paths and sync go.sum
  go.mod
  go.sum
Due: none

fix: update codeql-action to v4
  .github/workflows/security.yml
Due: none
